@keyframes rebote-suave {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

%animacion-rebote {
  animation: rebote-suave 0.8s ease-out;
}