@use '../base/variables' as *;
@use '../utils/mixins' as mix;

.custom-navbar {
  background-color: $primary-color;
  @include mix.fondo-gradiente(#ff4e50, #de6e18);

  .navbar-brand {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    span {
      color: $text-color !important;
    }
  }
  

  .nav-link {
    transition: color 0.3s ease;

    &:hover {
      color: $secondary-color !important;
    }
  }
}
