@use '../base/variables' as *;
@use '../utils/placeholders' as place;

.card {
  transition: transform 0.3s ease;
@extend %animacion-rebote;

  &:hover {
    transform: scale(1.03);
    z-index: 2;
  }

  .card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
  }
}
