@use 'variables' as *;

body {
  font-family: $font-main;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1 {
  color: $text-color;

  &.important {
    color: $text-color !important;
  }
}

h2 {
  color: $dark-text;

  &.important {
    color: $dark-text !important;
  }
}